
.home-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background-image: url('images/pink_stripes.png');
    background-size: 80px 60px;
    font-family: fantasy, Arial;

    /*   background: #fff; */
}
.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-image: url('images/foggy_birds.png');
    background-size: 80px 60px;
    font-family: fantasy, Arial;
}

.buy-section {
    height: 100%;
   padding-top: 150px;
    text-align: center;
    background-image: url('images/foggy_birds.png');
    background-size: 80px 60px;
    font-family: fantasy, Arial;
}

.contact-section {
    height: 100%;
  padding-top: 150px;
    text-align: center;
    background-image: url('images/arab_tile.png');
    background-size: 80px 60px;
    font-family: fantasy, Arial;
}
